# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Flask
instance/
*.sqlite3

# Environment variables
.env
config.py

# Uploads
uploads/
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
